body {
    background-image: url(../media/mainBG.png); 
    background-repeat: no-repeat, repeat; 
    background-color: #000; 
    background-position: center;"
}

.bg-transparent-custom {
    background-color: rgba(100, 100, 100, 0.4);
}

h2 {
    font-family: serif;
    font-style: italic;
}

.border-custom {
    border-radius: 10px;
    border-color: rgba(100, 100, 100, 0.6)
}

.border-bottom-custom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: rgba(100, 100, 100, 0.6)
}

.border-bottom-dotted {
    border-bottom: 1px dotted rgba(154, 210, 255, 1);;
}

form.form-bg {
    background-color: rgba(50, 16, 0, 1);
    border: 1px solid rgba(153,119,28,1);
    border-radius: 7px;
}

.text-highlight {
    color: rgba(90, 146, 223, 1);
}

.form-highlight {
    color: rgba(154, 210, 255, 1);
}


